@media only screen and (max-width: 1200px) {
    .nav-row {
        padding: 0;
    }
    .navbar-nav .nav-link {
        margin-right: 38px;
    }
}
@media only screen and (max-width: 1085px) {
    .content-scnd {
        margin: 0 auto;
        display: block;
    }
    .music-show-content {
        flex-direction: column;
    }
    .content-first {
        order: 1;
        margin:  0 auto;
    }
    .content-first img {
        margin: 0 auto;
        display: block;
        margin-top: 38px;
    }
    .header-first-part {
        padding-bottom: 76px;
    }
}
@media only screen and (max-width: 1024px) {
    .music-show-img {
        width: 374px;
    }
}
@media only screen and (max-width: 991px){
    .navbar-custom {
        position: absolute;
        top: 68px;
        left: 0;
        padding: 0 20px;
    }
    .music-show-img {
        margin-top: 120px;
    }
    .collapse-nav-bg {
        background-color: rgba(0, 0, 0, 0.842);
        display: inline-block;
        padding-left: 10px;
        width: 100%;
    }
    .nav-link {
        color: #fff !important;
    }
    .nav-dropdown {
        margin-left: 15px;
    }
    .navbar-light .navbar-toggler {
        border: 1px solid #831adc;
    }
    .party-heart h2 {
        font-size: 83px;
    }
    .party-left {
        margin-left: 0;
    }
    .party-first-col {
        justify-content: center;
    }
    .party-heart-lorem {
        margin: 0 auto;
    }
    .learn-more-btn {
        margin: 51px auto 0 auto;
    }
    .party-heart {
        background-size: 250px;
    }
    .slider-diagonal-p-scnd {
        text-align: center;
    }
    .slider-diagonal-p {
        text-align: center;
    }
    .no-tomorrow-col {
        display: block;
    }
    .no-tomorrow-party h2 {
        font-size: 85px;
    }
    .tickets-slider-p-scnd {
        padding: 3px 0px;
        text-align: center;
        margin: 20px auto 0 auto;
    }
}
@media only screen and (max-width: 899px) {
    .tickets-bg {
        padding-top: 100px;
    }
    .learn-more-tickets {
        padding: 13px 8px;
        text-align: center;
    }
    .tickets-lorem {
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .music-show-img {
        width: 283px;
    }
    .diagonal-p {
        text-align: center;
        padding: 3px 0;
    }
    .diagonal-p-scnd {
        text-align: center;
    }
    .header-first-part {
        padding-right: 3px;
        padding-left: 3px;
    }
    .party-heart {
        background-size: 196px;
    }
    .party-heart-lorem {
        max-width: 385px;
    }
    .slider-first-lorem {
        margin: 60px auto 0 auto;
    }
    .slider-diagonal-p {
        margin: 15px 0 0 0;
    }
    .slider-first-col {
        background-position: center;
        height: 203px;
    }
    .first-slider-button {
        margin-bottom: 23px;
    }
    .slider-diagonal-p-scnd {
        margin: 43px auto 0 auto;
    }
    .slider-scnd-lorem {
        max-width: 337px;
        margin: 40px auto 0 auto;
    }
    .first-slider {
        padding: 120px 0;
    }
    .tickets-third-col {
        height: 576px;
    }
    .tickets-container {
        position: relative;
    }
    .reserve-img1 {
        margin: 0 auto;
        display: block;
    }
    .tickets-content-row {
        flex-direction: column;
    }
    .reserve-col {
    margin-bottom: 18px;
    }
    .tickets-bg {
        margin-bottom: 100px;
    }
    .learn-more-tickets {
        padding: 13px 8px;
        text-align: center;
        margin-bottom: 30px;
    }
    .ticket-btns {
        margin: 43px auto 51px auto;
    }
    bg {
        padding-top: 167px;
    }
    .tickets-scnd-col-bg {
        height: 576px;
        background-position: top;
    }
}
@media only screen and (max-width: 599px) {
    .tickets-bg h2::after {
        margin: -38px auto 44px auto;
    }
}
@media only screen and (max-width: 575px) {
    .header-scnd-part {
        height: 500px;
        background-size: cover;
    }
    .learn-more-btn {
        padding: 8px 26px;
        font-size: 16px;
        max-width: 215px;
        text-align: center;
    }.party-heart {
        padding: 80px 0 112px 0;
    }
}
@media only screen and (max-width: 480px) {
    .navbar-custom {
        position: absolute;
        top: 68px;
        left: 0;
        padding: 0 10px;
    }
    .party-heart h2 {
        font-size: 62px;
        margin: 0 auto;
        max-width: 250px;
        text-align: center;
    }
    .party-heart-lorem {
        text-align: center;
    }
    .first-slider-container {
        padding: 0;
    }
    .slider-first-lorem {
        text-align: center;
    }
    .slider-scnd-lorem {
        text-align: center;
    }
    .reserve-col {
        padding-right: 10px !important;
    }
    .tickets-content-row h2 {
        font-size: 72px;
    }
    .tickets-bg {
        padding-top: 74px;
    }
    .tickets-slider-p-scnd {
        padding: 3px 0px;
        text-align: center;
    }
    .tickets-slider-p {
        padding: 3px 0px;
    }
    .no-tomorrow-party h2 {
        font-size: 62px;
        text-align: center;
    }
    .no-tomorrow-party {
        padding: 123px 0;
    }
}