/* -------------------------------------- */
/* basic setup */
/* -------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e0e0e0;
}
@font-face {
    font-family: "impact-regular";
    src: url(./fonts/911Fonts.com_ImpactRegular__-_911fonts.com_fonts_4mSI.ttf);
}
/* -------------------------------------- */
/* header, nav */
/* -------------------------------------- */
.header-scnd-part {
    background-image: url(./images/singer.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav ul {
    list-style: none;
}
.navbar-nav .nav-link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: myriad-arabic,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-right: 67px;
}
.navbar-nav .nav-link:last-child {
    margin-right: 0;
}
.header-first-part {
    background-image: url(./images/paper-tear.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: relative;
    padding-bottom: 100px;
    
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-row {
    padding: 0 50px;
}
.nav-margin {
    margin-top:  85px;
}
.music-show-img {
    margin: 0 auto;
    display: block;
    margin-top: 65px;
    margin-bottom: 46px;
}
.diagonal-p{
font-family: 'Monda', sans-serif;
-webkit-transform:rotate(-9deg);
max-width: 422px;
font-size: 16px;
background-color: #000;
color: #fff;
text-transform: uppercase;
padding: 3px 20px;
margin-bottom: 0;
font-weight: 600;
margin-bottom: 10px;
}
.diagonal-p-scnd{
font-family: 'Monda', sans-serif;
-webkit-transform:rotate(-4deg);
max-width: 346px;
font-size: 16px;
background-color: #831adc;
color: #fff;
text-transform: uppercase;
padding: 3px 20px;
margin: 0 auto;
font-weight: 600;
}
.music-show-lorem {
font-family: Arial, Helvetica, sans-serif;
max-width: 403px;
font-size: 15px;
text-align: center;
margin: 40px auto 0 auto;
color: #000;
font-weight: 400;
}
.music-show-part {
text-align: center;
max-width: 720px;
margin: 0 auto;
}
.lorem-part {
    color: #831adc;
    font-weight: 900;
}
.header-arrow-down {
    position: absolute;
    bottom: 109px;
    left: 86px;
}
.home,
.event,
.tickets,
.about {
    transition: color 0.2s !important;
}
.home:hover,
.home:active,
.event:hover,
.event:active,
.tickets:hover,
.tickets:active,
.about:hover,
.about:active {
    color: #831adc !important; 
}
/* -------------------------------------- */
/* party-heart */
/* -------------------------------------- */
.party-heart {
    background-color: #9913e1;
    background-image: url(./images/party-heart-stroke.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    padding: 80px 0;
}
.party-heart h2 {
    font-family: 'Staatliches', cursive;
    font-weight: 100;
    font-size: 96px;
    text-transform: uppercase;
    color: #000;
}
.party {
    color: #e0e0e0;
}
.party-first-col {
    display: flex;
}
.party-left {
    max-width: 391px;
    margin-left: auto;
}
.party-heart-lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    max-width: 340px;
    color: #000;
}
.lorem-part-scnd {
    color: #fff;
    font-weight: 900;
}
.learn-more-btn {
    text-decoration: none;
    color: #fff;
    border: 4px solid #fff;
    padding: 15px 65px;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    transition: 0.2s;
    display: block;
    max-width: 250px;
    margin-top: 51px;
}
.learn-more-btn:hover,
.learn-more-btn:active {
    background-color: #6e0da2;
    border: 4px solid #6e0da2;
    color: #fff;
    margin-top: 46px;
}
/* -------------------------------------- */
/* first-slider */
/* -------------------------------------- */
.first-slider {
    background-image: url(./images/paper-tear-slider.png), 
    url(./images/grunge-left-slider.png),
    url(./images/grunge-rightt-slider.png);
    background-position: left top, left bottom, right ;
    background-repeat: no-repeat;
    background-size: 100%, auto, auto;
    padding: 175px 0;
}
.slider-diagonal-p {
    font-family: 'Monda', sans-serif;
-webkit-transform:rotate(-4deg);
font-size: 16px;
background-color: #000;
color: #fff;
text-transform: uppercase;
padding: 3px 20px;
font-weight: 600;
align-self: flex-end;
margin-right: -55px;
margin-top: 15px;
}
.slider-diagonal-p-scnd {
    font-family: 'Monda', sans-serif;
-webkit-transform:rotate(2deg);
max-width: 346px;
font-size: 16px;
background-color: #831adc;
color: #fff;
text-transform: uppercase;
padding: 3px 20px;
font-weight: 600;
margin-top: 50px;
}
.slider-first-col {
    display: flex;
    flex-direction: column;
    background-image: url(./images/slider-grey-circle.png);
    background-repeat: no-repeat;
    background-position: right;
}
.slider-first-lorem {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    max-width: 337px;
    margin-left: auto;
    margin-top: 60px;
}
.slider-lorem-span {
    color: #831adc;
    font-weight: 900;
}
.slider-scnd-lorem{
    max-width: 337px;
    margin-top: 40px;
}
.slider-button{
    position: relative !important;
    margin-left: auto;
}
.page {
    font-size: 33px;
    font-weight: bold;
    color: #831adc;
    font-family: 'Monda', sans-serif;
    margin-right: 20px;
}
.slider-row{
    margin-top: 50px;
}
/* -------------------------------------- */
/* tickets */
/* -------------------------------------- */
.tickets-bg {
    background-image: url(./images/tickets-grunge.png);
    background-repeat: no-repeat;
    background-position:top right;
}
.tickets-first-col {
    background-image: url(./images/tickets-image1.png);
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
}
.tickets-scnd-col {
    background-image: url(./images/tickets-img2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.tickets-third-col {
    background-image: url(./images/tickets-img3.png);
    height: 875px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tickets-content-row h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 96px;
    color: #000;
    margin-top: 145px;
    margin-bottom: 70px;
}
.reserve {
    color: #9913e1;
}
.tickets-lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    max-width: 329px;
    margin: 0 auto;
}
.tickets-lorem-span{
    color: #831adc;
    font-weight: 900;
}
.learn-more-tickets {
    text-decoration: none;
    color: #831adc;
    border: 4px solid #831adc;
    padding: 13px 65px;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    transition: 0.2s;
    display: block;
    max-width: 250px;
    margin: 30px auto 0 auto;
}
.learn-more-tickets:hover,
.learn-more-tickets:active {
    background-color: #6e0da2;
    border: 4px solid #6e0da2;
    color: #fff;
    margin-top: 25px;
}
.tickets-content-row {
    position: relative;
}
.tickets-container{
    position: absolute;
    bottom: 60px;
    right: 0;
}
.reserve-col {
    text-align: right;
    padding-right: 0 !important;
}
.tickets-first-col-bg{
    background-image: url(./images/reserve-paper-tear.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 250px;
}
.tickets-scnd-col-bg{
    background-image: url(./images/reserve-scnd-bg.png);
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tickets-diagonal{
    font-family: 'Monda', sans-serif; 
}
.tickets-slider-p {
    font-family: 'Monda', sans-serif;
    background-color: #000;
color: #fff;
margin-top: 300px;
-webkit-transform:rotate(-4deg);
text-transform: uppercase;
padding: 3px 20px;
font-weight: 600;
text-align: center;
margin: 0 auto;
max-width: 418px;
margin-top: 15px;
}
.tickets-slider-p-scnd {
    font-family: 'Monda', sans-serif;
-webkit-transform:rotate(-1deg);
max-width: 346px;
font-size: 16px;
background-color: #831adc;
color: #fff;
text-transform: uppercase;
padding: 3px 20px;
margin-top: 15px;
margin: 20px auto 0 auto;
font-weight: 600;
}
.tickets-slider-lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    max-width: 329px;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
}
.reserve-bg {
    background-image: url(./images/tickets-grey-circle.png);
    background-repeat: no-repeat;
    height: 225px;
    background-position: center;
}
.tickets-button {
    position: relative !important;
    display: inline-block !important;
}
.ticket-btns {
    display: flex;
    max-width: 367px;
    margin: 120px auto 0 auto;
}
.learn-more-reserve {
    margin-top: 70px;
}
.learn-more-reserve:hover,
.learn-more-reserve:active {
    margin-top: 65px;
    margin-bottom: 5px;
}
.tickets-arrow-right {
    margin-left: auto;
}
.tickets-last-part {
    background-image: url(./images/tickets-last-section-bg.png);
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* -------------------------------------- */
/* no-tomorrow-party */
/* -------------------------------------- */
.no-tomorrow-party {
    padding: 150px 0;
    background-image: url(./images/no-tomorrow-stroke.png), url(./images/no-tomorrow-grunge.png), url(./images/no-tomorrow-stroke2.png);
    background-position: left, top right, bottom right;
    background-repeat: no-repeat;
}
.no-tomorrow-party h2 {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    color: #000;
    font-size: 96px;
    max-width: 376px;
    margin: 0 auto;
}
.party-span {
    color: #9913e1;
}
.no-tomorrow-col {
    display: flex;
}
.no-tomorrow-lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400; 
    max-width: 409px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
.no-tomorrow-p {
    margin: 15px 0 0 auto;
}